@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #212121;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pretendard: 'Pretendard', sans-serif;
  --font-azeret-mono: 'Azeret Mono', sans-serif;
  --font-agencyb: 'Agencyb', sans-serif;
  --font-walkway: 'Walkway', sans-serif;
  --font-81: var(--font-81);
  --color-primary: #1D546C;
  --color-bg: #F5F2F2;
}

@theme inline {
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  letter-spacing: -0.02em;
  font-family: var(--font-pretendard),var(--font-azeret-mono), Arial, Helvetica, sans-serif;
}
